.clientdetails {
    background-image: url('../../Imagesps/Clientdetailsheader.png');
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    opacity: 0.8;
    background-repeat: no-repeat;
    color: #fff;
  
  }
    
  

