.clientdetails {
    background-image: url('../../Imagesps/Briefingnotesheader.png');
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
   
   
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
  
  }
    


.style {
  background-color: lightblue;
  width: 110px;
  height: 110px;
  overflow: scroll;
}    
  