.clientdetails {
    background-image: url('../../Imagesps/Clientdetailsheader.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    opacity: 0.8;
    background-repeat: no-repeat;
    color: black;
  
  }
    


.style {
  background-color: lightblue;
  width: 110px;
  height: 110px;
  overflow: scroll;
}    
  