* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.homepage,
.comments,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.homepage {
  background-image: url('Imagesps/mainpageheader.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  color: #fff;
  font-size: 100px;
}
.secondpage {
  background-image: url('Imagesps/attendanceheader.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  color: #fff;
  font-size: 500px;
}
.comments {
  background-image: url('Imagesps/commentsheader.png');
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  opacity: 0.8;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.Logo {
  position: absolute;
width: 196px;
height: 180px;
margin-top: -180px;

}